@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

html {
    overflow-x: hidden;
    /* scroll-padding-top: 5.5rem; codigo para quando o nav-bar é fixo */
    scroll-behavior: smooth;
}

:root {
    --yellow-color: #ffdd2d;
    --gray-color: #ffffff;
    --txt-color: #333333;
}

/* ---------------- NAV BAR ----------------- */

.nav-container {
    width: 100%;
    height: 12vh;
    background: var(--gray-color);
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.nav {
    display: flex;
    align-items: center;
    gap: 50rem;
    padding-left: 2rem;
}

.nav-ul {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;  
    display: flex;
    align-items: center;
}

.nav-ul a{
    text-decoration: none;
    color: var(--txt-color);
    padding: 20px;
}
.nav-ul a:hover{
    text-decoration: underline;
    color: #1b1b1b;
}

.nav-ul a button {
    background: var(--yellow-color);
    border-radius: 8px;
    text-decoration: none;
    color: var(--txt-color);
    padding: 1rem 3rem;
    font-family: "poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    border: 0;

    cursor: pointer;
}
.nav-ul a button:hover {
    background: #ffd500;
    color: #1b1b1b;
    box-shadow: black;
}
/* ------------------------------------------------------- */
/* -------------------MAIN------------------------------- */

.main-container {
    background-image: linear-gradient(to bottom, #ffdd2d, #fff 100%);    
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 88vh;
}
.main  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.main .text {
    line-height: 26px;
    font-family: "Poppins";
    font-style: normal;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main .text h1 {
    font-weight: 600;
    font-size: 3.5rem; 
    
}

.main .text p {
    font-weight: 400;
    font-size: 1.2rem; 
}

.main .people {
    text-align: center;
}


/* --------------FEATURES----------------- */

.features-container {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.features-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    justify-content: center;
}
.top, .bottom {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
}


.features-box .text {
    font-family: Poppins;
    font-style: normal;
    line-height: 26px;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.features-box .text h1{
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 2.2rem;
}
.features-box .text p{
    font-weight: normal;
    font-size: 1.1rem;
}



.pro a button {
    
    background: var(--yellow-color);
    border-radius: 8px;
    text-decoration: none;
    color: var(--txt-color);

    font-family: "poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    border: 0;

    cursor: pointer;
}
.pro a button:hover {
    background: #ffd500;
    color: #1b1b1b;
    box-shadow: black;
}

.pro button{
    padding: 1rem 1.5rem;
}
.line {
    margin: auto;
    width: 75%;

}

/* ------------------SIGN UP------------------------ */

.signup-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #E6E6F0;
}

.signup {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.signup .text {
    line-height: 26px;
    font-family: "Poppins";
    font-style: normal;
    text-align: center;
}

.signup .text h1 {
    font-weight: 800;
    font-size: 2.7rem; 
    line-height: 36px;
}
.signup .text p {
    font-weight: 400;
    font-size: 1.2rem; 
    line-height: 20px;
}

.signup .pro a button {     
    padding: 1rem 3rem;
    font-size: 1.2rem;
}


/* --------------------------------------------------- */
/* FOOOTER */
/* ------------------------------------------------ */

.footer-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 4rem;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.footer-ul a{
    text-decoration: none;
    color: var(--txt-color);
}
.footer-ul a:hover {
    text-decoration: underline;
}
.footer-top {
    display: flex;
    gap: 5rem;
}

.footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 26px;  
}
.ul-title {
    font-weight: 700;
}

.footer-bottom {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.icons ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;

}
.icons img:hover {
    width: 45px;
}

.copy {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 26px;
}



@media (max-width: 991px) and (min-width: 768px){
    .main-container {
        margin: auto;
        width: 100%;
    }
    .main .people img {
        width: 80%;
    }
    .main .people {
        text-align: center;
    }
    .nav-container {
        margin: auto;
        width: 100%;
    }
    .logo {
        position: absolute;
        left: 3%;
        padding-top: .15%;
    }
    .nav ul {
        position: absolute;
        padding-top: .15%;
        right: 5%;
    }
    ul a{
        margin: auto;
        padding: 18px;
    }
}